

<div class="authors edit">
	<h2>Edit Author</h2>
	<%= form_for(@author) do |f|%>
		<table summary="Subject form fields">
			<tr>
				<th>First name:</th>
				<td><%= f.text_field(:first_name) %></td>
			</tr>
			<tr>
				<th>Last name:</th>
				<td><%= f.text_field(:last_name) %></td>
			</tr>
		</table>
		<div class="form-buttons">
			<%= f.submit("Update Author") %>	
		</div>
	<% end %>
</div>