<h1>New Author</h1>

<div class="authors new">
	<h2>New Author</h2>
	<%= form_for(@author, :url => authors_path, :method => 'post') do |f|%>
		<table summary="Subject form fields">
			<tr>
				<th>First name:</th>
				<td><%= f.text_field(:first_name) %></td>
			</tr>
			<tr>
				<th>Last name:</th>
				<td><%= f.text_field(:last_name) %></td>
			</tr>
		</table>
		<div class="form-buttons">
			<%= f.submit("Create Author") %>	
		</div>
	<% end %>
</div>