<h1>Edit Publisher</h1>

<div class="publishers edit">
	<h2>Edit Author</h2>
	<%= form_for(@publisher) do |f|%>
		<table summary="Subject form fields">
			<tr>
				<th>First name:</th>
				<td><%= f.text_field(:name) %></td>
			</tr>
		</table>
		<div class="form-buttons">
			<%= f.submit("Update Publisher") %>	
		</div>
	<% end %>
</div>