<h1>New Publisher</h1>

<div class="publishers new">
	<h2>New Publisher</h2>
	<%= form_for(@publisher, :url => publishers_path, :method => 'post') do |f|%>
		<table summary="Subject form fields">
			<tr>
				<th>First name:</th>
				<td><%= f.text_field(:name) %></td>
			</tr>
		</table>
		<div class="form-buttons">
			<%= f.submit("Create Publisher") %>	
		</div>
	<% end %>
</div>