	<h2>New Publisher</h2>
	<%= form_for(@publisher, :url => publishers_path, :method => 'post') do |f|%>

		<div class="form-group">
			<label>Publisher Name</label>
			<%= f.text_field(:name , :class => "form-control") %><br/>
		</div>



		<!-- </div> -->

		<%= f.submit("Create Publisher", :class => 'btn btn-primary') %>
		<%= link_to("Cancel", publishers_path, :class => 'btn btn-default') %>

	<% end %>