<h1>Publisher Details</h1>


<%= link_to("Back to list" , publishers_path, :class => 'back-link') %>


<table summary="Author detail view">
	<tr>
		<th>ID:</th>
		<td><%= @publisher.id %></td>
	</tr>
	<tr>
		<th>First Name:</th>
		<td><%= @publisher.name %></td>
	</tr>
</table>

