<h1>Delete Book</h1>

<%= link_to("<< Back to List", books_path, :class => 'bask-link') %>

<div class="books delete">
	<h2>Delete Book</h2>

	<%= form_for(@book, :url => book_path(@book), :method => 'delete') do |f| %>

		<p>Are you sure you want to delete book</p>
		<p class='reference-name'><%= @book.name %></p>

		<div class="form-buttons">
			<%= f.submit("Delete Book")%>
		</div>

	<% end %>


</div>