<h1>Authors#delete</h1>

<%= link_to("<< Back to List", authors_path, :class => 'bask-link') %>

<div class="authors delete">
	<h2>Delete Author</h2>

	<%= form_for(@author, :url => author_path(@author), :method => 'delete') do |f| %>

		<p>Are you sure you want to delete author</p>
		<p class='reference-name'><%= @author.first_name + ' ' + @author.last_name %></p>

		<div class="form-buttons">
			<%= f.submit("Delete Subject")%>
		</div>

	<% end %>


</div>